version: '3.8'

services:
  app:
    build: ./app
    container_name: backend_app
    ports:
      - "5000:5000"

  nginx:
    build: ./nginx
    container_name: nginx_proxy
    ports:
      - "80:80"
    depends_on:
      - app
